[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-cors = "*"
cryptography = "*"
psycopg2-binary = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
start = "flask run"
fix = "autopep8 -ivr ."
lint = "flake8 ."
