<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
  <style>
  body, table {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
  }
  table {
    border-collapse: collapse;
  }
  .container {
    padding: 10px 10px 30px 30px;
  }
  img {
    width: 100%;
  }
  .image {
    float: left;
    width: 50%;
    margin-left: -10px;
  }
  .description {
    float: left;
    width: 50%;
  }
  .explanation {
    font-size: 0.7em;
  }
  .public-id {
    font-size: 1.2em;
  }
  table {
    width: 100%;
  }
  </style>
</head>
<body>
  <table border="1">
    {% for row in range(cards|length // horizontal) %}
    <tr>
      {% for column in range(1,horizontal +1) %}
      {% set card_index = (row * horizontal) + column  %}
      {% set card = cards[card_index -1]|default(empty_card) %}
      <td class="container">
        <h2 class="header">抽選カード</h2>
        <div class="image">
          <img src="{{ card.qr_path }}">
        </div>
        <div class="description">
          <div class="explanation">
            <p>スマートフォンをお持ちの方は、左のQRコードを読み取り、抽選を行ってください。</p>
            <p>お持ちでない方は、このカードを持って有人受付までいらしてください。</p>
          </div>
          <div class="public-id">
            確認用ID: <strong>{{ card.public_id }}</strong>
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>
