<HTML>
  <body>
    <table border="1">
      {% for row in range(cards|length // horizontal) %}
        <tr>
          {% for column in range(1,horizontal +1) %}
            {% set card_index = (row * horizontal) + column  %}
            {% set card = cards[card_index]|default(empty_card) %}
              <td> <img src="{{ card.qr_path }}" > <br \>
                    確認用ID: {{ card.public_id }}
              </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</HTML>
